<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="mobile-header mobile">
            <div class="flex-container container mobile-header-wrapper">
                <div class="logo">
                    <h1>H.</h1>
                </div>
                <a href="#" class="mobile-notification">
                    <svg width="22" height="22" viewBox="0 0 24 24" fill="none" aria-label="Notifications"><path d="M15 18.5a3 3 0 1 1-6 0" stroke="currentColor" stroke-linecap="round"></path>
                        <path d="M5.5 10.53V9a6.5 6.5 0 0 1 13 0v1.53c0 1.42.56 2.78 1.57 3.79l.03.03c.26.26.4.6.4.97v2.93c0 .14-.11.25-.25.25H3.75a.25.25 0 0 1-.25-.25v-2.93c0-.37.14-.71.4-.97l.03-.03c1-1 1.57-2.37 1.57-3.79z" stroke="currentColor" stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>

        </div>
        <div class="header-wrapper">
            <div class="logo dt">
                <h1>H.</h1>
            </div>
            <nav class="nav container">
                <ul class="nav-list container">
                    <li class="nav-link"><a href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Home"><path d="M4.5 21.25V10.87c0-.07.04-.15.1-.2l7.25-5.43a.25.25 0 0 1 .3 0l7.25 5.44c.06.04.1.12.1.2v10.37c0 .14-.11.25-.25.25h-4.5a.25.25 0 0 1-.25-.25v-5.5a.25.25 0 0 0-.25-.25h-4.5a.25.25 0 0 0-.25.25v5.5c0 .14-.11.25-.25.25h-4.5a.25.25 0 0 1-.25-.25z" fill="currentColor" stroke="currentColor" stroke-linejoin="round"></path>
                            <path d="M22 9l-9.1-6.83a1.5 1.5 0 0 0-1.8 0L2 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a></li>
                    <li class="nav-link dt"><a href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Notifications"><path d="M15 18.5a3 3 0 1 1-6 0" stroke="currentColor" stroke-linecap="round"></path>
                            <path d="M5.5 10.53V9a6.5 6.5 0 0 1 13 0v1.53c0 1.42.56 2.78 1.57 3.79l.03.03c.26.26.4.6.4.97v2.93c0 .14-.11.25-.25.25H3.75a.25.25 0 0 1-.25-.25v-2.93c0-.37.14-.71.4-.97l.03-.03c1-1 1.57-2.37 1.57-3.79z" stroke="currentColor" stroke-linejoin="round"></path>
                        </svg>
                    </a></li>
                    <li class="nav-link"><a href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Lists"><path d="M4.5 6.25V21c0 .2.24.32.4.2l5.45-4.09a.25.25 0 0 1 .3 0l5.45 4.09c.16.12.4 0 .4-.2V6.25a.25.25 0 0 0-.25-.25H4.75a.25.25 0 0 0-.25.25z" stroke="currentColor" stroke-linecap="round"></path><path d="M8 6V3.25c0-.14.11-.25.25-.25h11.5c.14 0 .25.11.25.25V16.5" stroke="currentColor" stroke-linecap="round"></path></svg>
                    </a></li>
                    <li class="nav-link dt"><a href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Stories"><path d="M4.75 21.5h14.5c.14 0 .25-.11.25-.25V2.75a.25.25 0 0 0-.25-.25H4.75a.25.25 0 0 0-.25.25v18.5c0 .14.11.25.25.25z" stroke="currentColor"></path><path d="M8 8.5h8M8 15.5h5M8 12h8" stroke="currentColor" stroke-linecap="round"></path></svg>
                    </a></li>
                
                    <li class="nav-link nav-link__write"><a href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label="Write"><path d="M14 4a.5.5 0 0 0 0-1v1zm7 6a.5.5 0 0 0-1 0h1zm-7-7H4v1h10V3zM3 4v16h1V4H3zm1 17h16v-1H4v1zm17-1V10h-1v10h1zm-1 1a1 1 0 0 0 1-1h-1v1zM3 20a1 1 0 0 0 1 1v-1H3zM4 3a1 1 0 0 0-1 1h1V3z" fill="currentColor"></path><path d="M17.5 4.5l-8.46 8.46a.25.25 0 0 0-.06.1l-.82 2.47c-.07.2.12.38.31.31l2.47-.82a.25.25 0 0 0 .1-.06L19.5 6.5m-2-2l2.32-2.32c.1-.1.26-.1.36 0l1.64 1.64c.1.1.1.26 0 .36L19.5 6.5m-2-2l2 2" stroke="currentColor"></path></svg>
                    </a></li>
                    <li class="nav-link"><a href="#">
                        <img src="../assets/profile.png" class="profile-img" alt="" srcset="">
                    </a></li>
                </ul>
            </nav>
        </div>
    </header>

        <div class="body-wrapper">
            <main id="home-main" class="main ">
                <div class="tab-menu container">
                    <ul class="tab-list nav-text">
                        <li><a href="#" class="tab-link nav-text">For you</a></li>
                        <li><a href="#" class="tab-link nav-text">Following</a></li>
                    </ul>
                </div>
                <div class="content-section container">
                    <article class="article">
                        <div class="article-owner flex-container">
                            <div class="user-img">
                                <img src="../assets/profile.png" class= "profile-img"alt="">
                            </div>
                            <div class="author-name text-primary">
                                <p>Moses Bwire</p>
                            </div>
                            <div class="posted-on muted-text">
                                Sept 5
                            </div>
                        </div>
                        <div class="grid-container article-details">
                            <div class=" title-summary-section">
                                <div>
                                    <h1 class="title-primary">How to brand yourself on Linkedin? With detailed examples</h1>
                                </div>
                                <div class="summary dt text-primary">
                                    <p>In my previous article, I discussed the topic “How to grow on LinkedIn?”. If you didn’t read it yet, click here to know how to grow on LinkedIn. In this article, I would like to tell you How to brand yourself on LinkedIn. Most </p>
                                </div>
                                
                            </div>
                            <div class="article-img">
                                <img src="https://images.unsplash.com/photo-1662375731708-6c4b601b5dde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=60" alt="" srcset="">
                            </div>
                            <div class="flex-container article-footer">
                                <p class="read-time muted-text">9 min read</p>
                                <a href="#" class="bookmark">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="rn"><path d="M17.5 1.25a.5.5 0 0 1 1 0v2.5H21a.5.5 0 0 1 0 1h-2.5v2.5a.5.5 0 0 1-1 0v-2.5H15a.5.5 0 0 1 0-1h2.5v-2.5zm-11 4.5a1 1 0 0 1 1-1H11a.5.5 0 0 0 0-1H7.5a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V5.75z" fill="#000"></path></svg>
                                </a>
                            </div>
                        </div>
                        
                    </article>
                    <article class="article">
                        <div class="article-owner flex-container">
                            <div class="user-img">
                                <img src="../assets/profile.png" class= "profile-img"alt="">
                            </div>
                            <div class="author-name text-primary">
                                <p>Moses Bwire</p>
                            </div>
                            <div class="posted-on muted-text">
                                Sept 5
                            </div>
                        </div>
                        <div class="grid-container article-details">
                            <div>
                                <div>
                                    <h1 class="title-primary">How to brand yourself on Linkedin?</h1>
                                </div>
                                <div class="summary dt">
                                    <p>In my previous article, I discussed the topic “How to grow on LinkedIn?”. If you didn’t read it yet, click here to know how to grow on LinkedIn. In this article, I would like to tell you How to brand yourself on LinkedIn. Most </p>
                                </div>
                            </div>
                            <div class="article-img">
                                <img src="https://images.unsplash.com/photo-1662375731708-6c4b601b5dde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=60" alt="" srcset="">
                            </div>
                        </div>
                        <div class="flex-container article-footer">
                            <p class="read-time muted-text">9 min read</p>
                            <a href="#" class="bookmark">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="rn"><path d="M17.5 1.25a.5.5 0 0 1 1 0v2.5H21a.5.5 0 0 1 0 1h-2.5v2.5a.5.5 0 0 1-1 0v-2.5H15a.5.5 0 0 1 0-1h2.5v-2.5zm-11 4.5a1 1 0 0 1 1-1H11a.5.5 0 0 0 0-1H7.5a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V5.75z" fill="#000"></path></svg>
                            </a>
                        </div>
                    </article>
                    <article class="article">
                        <div class="article-owner flex-container">
                            <div class="user-img">
                                <img src="../assets/profile.png" class= "profile-img"alt="">
                            </div>
                            <div class="author-name text-primary">
                                <p>Moses Bwire</p>
                            </div>
                            <div class="posted-on muted-text">
                                Sept 5
                            </div>
                        </div>
                        <div class="grid-container article-details">
                            <div>
                                <div>
                                    <h1 class="title-primary">How to brand yourself on Linkedin?</h1>
                                </div>
                                <div class="summary dt">
                                    <p>In my previous article, I discussed the topic “How to grow on LinkedIn?”. If you didn’t read it yet, click here to know how to grow on LinkedIn. In this article, I would like to tell you How to brand yourself on LinkedIn. Most </p>
                                </div>
                            </div>
                            <div class="article-img">
                                <img src="https://images.unsplash.com/photo-1662375731708-6c4b601b5dde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=60" alt="" srcset="">
                            </div>
                        </div>
                        <div class="flex-container article-footer">
                            <p class="read-time muted-text">9 min read</p>
                            <a href="#" class="bookmark">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="rn"><path d="M17.5 1.25a.5.5 0 0 1 1 0v2.5H21a.5.5 0 0 1 0 1h-2.5v2.5a.5.5 0 0 1-1 0v-2.5H15a.5.5 0 0 1 0-1h2.5v-2.5zm-11 4.5a1 1 0 0 1 1-1H11a.5.5 0 0 0 0-1H7.5a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V5.75z" fill="#000"></path></svg>
                            </a>
                        </div>
                    </article>
                    <article class="article">
                        <div class="article-owner flex-container">
                            <div class="user-img">
                                <img src="../assets/profile.png" class= "profile-img"alt="">
                            </div>
                            <div class="author-name text-primary">
                                <p>Moses Bwire</p>
                            </div>
                            <div class="posted-on muted-text">
                                Sept 5
                            </div>
                        </div>
                        <div class="grid-container article-details">
                            <div>
                                <div>
                                    <h1 class="title-primary">How to brand yourself on Linkedin?</h1>
                                </div>
                                <div class="summary dt">
                                    <p>In my previous article, I discussed the topic “How to grow on LinkedIn?”. If you didn’t read it yet, click here to know how to grow on LinkedIn. In this article, I would like to tell you How to brand yourself on LinkedIn. Most </p>
                                </div>
                            </div>
                            <div class="article-img">
                                <img src="https://images.unsplash.com/photo-1662375731708-6c4b601b5dde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=60" alt="" srcset="">
                            </div>
                        </div>
                        <div class="flex-container article-footer">
                            <p class="read-time muted-text">9 min read</p>
                            <a href="#" class="bookmark">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="rn"><path d="M17.5 1.25a.5.5 0 0 1 1 0v2.5H21a.5.5 0 0 1 0 1h-2.5v2.5a.5.5 0 0 1-1 0v-2.5H15a.5.5 0 0 1 0-1h2.5v-2.5zm-11 4.5a1 1 0 0 1 1-1H11a.5.5 0 0 0 0-1H7.5a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V5.75z" fill="#000"></path></svg>
                            </a>
                        </div>
                    </article>
                    <article class="article">
                        <div class="article-owner flex-container">
                            <div class="user-img">
                                <img src="../assets/profile.png" class= "profile-img"alt="">
                            </div>
                            <div class="author-name text-primary">
                                <p>Moses Bwire</p>
                            </div>
                            <div class="posted-on muted-text">
                                Sept 5
                            </div>
                        </div>
                        <div class="grid-container article-details">
                            <div>
                                <div>
                                    <h1 class="title-primary">How to brand yourself on Linkedin?</h1>
                                </div>
                                <div class="summary dt">
                                    <p>In my previous article, I discussed the topic “How to grow on LinkedIn?”. If you didn’t read it yet, click here to know how to grow on LinkedIn. In this article, I would like to tell you How to brand yourself on LinkedIn. Most </p>
                                </div>
                            </div>
                            <div class="article-img">
                                <img src="https://images.unsplash.com/photo-1662375731708-6c4b601b5dde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=60" alt="" srcset="">
                            </div>
                        </div>
                        <div class="flex-container article-footer">
                            <p class="read-time muted-text">9 min read</p>
                            <a href="#" class="bookmark">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="rn"><path d="M17.5 1.25a.5.5 0 0 1 1 0v2.5H21a.5.5 0 0 1 0 1h-2.5v2.5a.5.5 0 0 1-1 0v-2.5H15a.5.5 0 0 1 0-1h2.5v-2.5zm-11 4.5a1 1 0 0 1 1-1H11a.5.5 0 0 0 0-1H7.5a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V5.75z" fill="#000"></path></svg>
                            </a>
                        </div>
                    </article>
                    <article class="article">
                        <div class="article-owner">
                            <div class="user-img">
                                <img src="../assets/profile.png" class= "profile-img"alt="">
                            </div>
                            <div class="author-name text-primary">
                                <p>Moses Bwire</p>
                            </div>
                            <div class="posted-on muted-text">
                                Sept 5
                            </div>
                        </div>
                        <div class="grid-container article-details">
                            <div>
                                <div>
                                    <h1 class="title-primary">How to brand yourself on Linkedin?</h1>
                                </div>
                                <div class="summary dt">
                                    <p>In my previous article, I discussed the topic “How to grow on LinkedIn?”. If you didn’t read it yet, click here to know how to grow on LinkedIn. In this article, I would like to tell you How to brand yourself on LinkedIn. Most </p>
                                </div>
                            </div>
                            <div class="article-img">
                                <img src="https://images.unsplash.com/photo-1662375731708-6c4b601b5dde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NHx8fGVufDB8fHx8&auto=format&fit=crop&w=700&q=60" alt="" srcset="">
                            </div>
                        </div>
                        <div class="flex-container article-footer">
                            <p class="read-time muted-text">9 min read</p>
                            <a href="#" class="bookmark">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="rn"><path d="M17.5 1.25a.5.5 0 0 1 1 0v2.5H21a.5.5 0 0 1 0 1h-2.5v2.5a.5.5 0 0 1-1 0v-2.5H15a.5.5 0 0 1 0-1h2.5v-2.5zm-11 4.5a1 1 0 0 1 1-1H11a.5.5 0 0 0 0-1H7.5a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V5.75z" fill="#000"></path></svg>
                            </a>
                        </div>
                    </article>
                    
                </div>
            </main>
            <aside class="dt aside">
                <div class="follow container">
                    <h2 class="wt-title">Who to follow</h2>
                    <div class="grid-container follow-details">
                        <div  class="wt-user-img">
                            <img src="../assets/profile.png" alt="">
                        </div>
                        <div>
                            <p class="wt-name title-primary">Margaret Hoffmann</p>
                            <p class="wt-bio muted-text">CEO of 6 businesses, her book WILFUL BLINDNESS was called.. </p>
                        </div>
                        <a href="#" class="wt-btn-link">
                            <button class="button wt-btn">Follow</button>
                        </a>
                    </div>
                    <div class="grid-container follow-details">
                        <div  class="wt-user-img">
                            <img src="../assets/profile.png" alt="">
                        </div>
                        <div>
                            <p class="wt-name title-primary">Margaret Hoffmann</p>
                            <p class="wt-bio muted-text">CEO of 6 businesses, her book WILFUL BLINDNESS was called.. </p>
                        </div>
                        <a href="#" class="wt-btn-link">
                            <button class="button wt-btn">Follow</button>
                        </a>
                    </div>
                    <div class="grid-container follow-details">
                        <div  class="wt-user-img">
                            <img src="../assets/profile.png" alt="">
                        </div>
                        <div>
                            <p class="wt-name title-primary">Margaret Hoffmann</p>
                            <p class="wt-bio muted-text">CEO of 6 businesses, her book WILFUL BLINDNESS was called.. </p>
                        </div>
                        <a href="#" class="wt-btn-link">
                            <button class="button wt-btn">Follow</button>
                        </a>
                    </div>
                    
                    <a href="#" class="accented-link wt-suggestions">See more suggestions</a>
                </div>
                <div class="recently-saved container">
                    <h2 class="wt-title">Recently saved</h2>
                    <div class="saved-item">
                        <di class="rs-user-details flex-container">
                            <img src="../assets/profile.png" alt="" class="profile-img">
                            <p>NonConformist</p>
                        </di>
                        <p class="title title-primary">Improving Rails Perfomance with Better Background Jobs</p>
                        <div class="article-info muted-text flex-container">
                            <p>Jun 24</p>
                            <p>4 min read</p>
                        </div>
                    </div>
                    <div class="saved-item">
                        <di class="rs-user-details flex-container">
                            <img src="../assets/profile.png" alt="" class="profile-img">
                            <p>NonConformist</p>
                        </di>
                        <p class="title title-primary">Improving Rails Perfomance with Better Background Jobs</p>
                        <div class="article-info muted-text flex-container">
                            <p>Jun 24</p>
                            <p>4 min read</p>
                        </div>
                    </div>
                    <div class="saved-item">
                        <di class="rs-user-details flex-container">
                            <img src="../assets/profile.png" alt="" class="profile-img">
                            <p>NonConformist</p>
                        </di>
                        <p class="title title-primary">Improving Rails Perfomance with Better Background Jobs</p>
                        <div class="article-info muted-text flex-container">
                            <p>Jun 24</p>
                            <p>4 min read</p>
                        </div>
                    </div>
                    <a href="#" class="accented-link see-saved">See all (10)</a>
                </div>
            </aside>
        </div>
    
</body>
</html>